- var cacheBuster = '.v1.0.3';
- var baseDir = '/page-missing';

doctype html
html(lang='en')
  head
    title
      | Page Missing

    meta(charset='utf-8')
    meta(name='description', content='Levi Lindsey\'s web portfolio')
    meta(name='viewport', content='width=device-width')

    link(rel='icon', type='image/png', href='#{baseDir}/images/favicon-16x16#{cacheBuster}.png', sizes="16x16")
    link(rel='icon', type='image/png', href='#{baseDir}/images/favicon-32x32#{cacheBuster}.png', sizes="32x32")

    link(rel='stylesheet', href='#{baseDir}/main#{cacheBuster}.css')
  body
    img(src='#{baseDir}/images/maya#{cacheBuster}.jpg', alt='A cat')
    h1
      | Page Missing
    p
      | Sorry, we couldn't find your page at #{pageName}.<br><br>
      | ...so here's a picture of a cat instead!
    p
      | Why don't you start over from the&nbsp;
      a(href='/')
        | home page
      | ?

    script
      | #{portfolioAnalyticsScript}
