div(id='mainMenuScreen', class='screen')
  img(id='quickPlayButton', class='button', src='#{baseDir}/images/quick_play.png', alt='Quick play button')
  img(id='mainMenuScreenCustomPlayButton', src='#{baseDir}/images/top_button_locked.png', alt='Custom play button')

  img(id='prevButton', class='button', src='#{baseDir}/images/prev.png', alt='Previous chapter button')
  img(id='nextButton', class='button', src='#{baseDir}/images/next.png', alt='Next chapter button')

  #chapterList
    img(id='chapter1', class='chapterItem', src='#{baseDir}/images/chapter_1.png', alt='Chapter 1')
    img(id='chapter2', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 2')
    img(id='chapter3', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 3')
    img(id='chapter4', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 4')
    img(id='chapter5', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 5')
    img(id='chapter6', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 6')
    img(id='chapter7', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 7')
    img(id='chapter8', class='chapterItem', src='#{baseDir}/images/chapter_locked.png', alt='Chapter 8')

  #chapterProgressIndicator
    | 1/8
