extends invite-layout

block content

  - var startbubble = 'home';

  - var bubble1class = 'small_bubble';
  - var bubble2class = 'small_bubble';
  - var bubble3class = 'small_bubble';
  - var bubble4class = 'small_bubble';
  - var bubble5class = 'small_bubble';
  - var bubble6class = 'small_bubble';
  - var bubble7class = 'small_bubble';

  case startbubble
    when 'home'
      - bubble1class = 'big_bubble';
    when 'who'
      - bubble2class = 'big_bubble';
    when 'what'
      - bubble3class = 'big_bubble';
    when 'when'
      - bubble4class = 'big_bubble';
    when 'where'
      - bubble5class = 'big_bubble';
    when 'rsvp'
      - bubble6class = 'big_bubble';
    when 'registry'
      - bubble7class = 'big_bubble';

  .no_script_content
    | Hey!  This very pretty page was designed to be viewed with javascript enabled!  But if you'd really rather not deal with javascript, you can view the 
    a(href='#{baseDir}/invite-no-script')
      | basic information here
    | .

  .ie_user_content
    | I&apos;m sorry, but 
    a(href='http://www.hipwebdesign.com/blog/why-you-should-stop-using-internet-explorer/', target='_blank')
      | Internet Explorer is (was) a pretty awful browser
    | , and I chose to not support it on this page.  IE is not standards compliant, which means that professional web developers have to write everything they do twice&mdash;once for IE and once for everyone else.  IE has numerous security issues and has countless bugs.  IE consumes a good deal more of your computer's processing power than other browsers and still runs significantly more slowly.
    br
    br
    | This site has some pretty spiffy bells and whistles, so if you want to see them, please come back in a different browser; most Internet-savvy people use 
    a(href='http://www.mozilla.org/en-US/firefox/new/', target='_blank')
      | Firefox
    | , 
    a(href='https://www.google.com/intl/en/chrome/browser/', target='_blank')
      | Chrome
    | , or Safari. Otherwise, you can view the 
    a(href='#{baseDir}/inviteNoscript')
      | basic content of the site here
    | .

  .scripted_content
    img(id='envelope_bottom', src='#{baseDir}/images/envelope_bottom.png#{currentVersion}', alt='__')

    div(id='bubble1', class='bubble #{bubble1class}')
      img(class='bubble_main_img', src='#{baseDir}/images/home_bubble.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | Home
      .bubble_body
        h2.bubble_main_h
          | You are invited

    div(id='bubble2', class='bubble #{bubble2class}')
      img(class='bubble_main_img', src='#{baseDir}/images/card.png#{currentVersion}', alt='__')
      img(class='bubble_border_img', src='#{baseDir}/images/card_border.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | Who
      .bubble_body
        h2.bubble_main_h
          | Who
        p.bubble_p
          span.name
            | Jacqueline Kimberly Schwartzstein
          br
          | and
          br
          span.name
            | Levi Scott Lindsey
        img(class='bubble_sub_img', src='#{baseDir}/images/bubble_2_sub.jpg', alt='awww...', title='awww...')

    div(id='bubble3', class='bubble #{bubble3class}')
      img(class='bubble_main_img', src='#{baseDir}/images/card.png#{currentVersion}', alt='__')
      img(class='bubble_border_img', src='#{baseDir}/images/card_border.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | What
      .bubble_body
        h2.bubble_main_h
          | What
        p.bubble_p
          | Jackie and Levi&apos;s closest family and friends will gather together to meet and celebrate their wedding!  There will be food, cake, and festive drinks.  The bride and groom will be married the day before the party, so attire need not be formal; however, they will be dressed up, so feel free to join in!  The party will be outside, and the weather in Olympia is usually idyllic in August.

    div(id='bubble4', class='bubble #{bubble4class}')
      img(class='bubble_main_img', src='#{baseDir}/images/card.png#{currentVersion}', alt='__')
      img(class='bubble_border_img', src='#{baseDir}/images/card_border.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | When
      .bubble_body
        h2.bubble_main_h
          | When
        p.bubble_p
          | Saturday, the third of August
          br
          | Two thousand and thirteen
          br
          | At two o&apos;clock in the afternoon
          br
        table#count_down_table
          tr.time_row
            td(id='days', class='main_cell')
              | 00
            td.sep_cell
              | :
            td(id='hours', class='main_cell')
              | 00
            td.sep_cell
              | :
            td(id='minutes', class='main_cell')
              | 00
            td.sep_cell
              | :
            td(id='seconds', class='main_cell')
              | 00
          tr.label_row
            td.main_cell
              | days
            td.sep_cell
            td.main_cell
              | hours
            td.sep_cell
            td.main_cell
              | minutes
            td.sep_cell
            td.main_cell
              | seconds

    div(id='bubble5', class='bubble #{bubble5class}')
      img(class='bubble_main_img', src='#{baseDir}/images/card.png#{currentVersion}', alt='__')
      img(class='bubble_border_img', src='#{baseDir}/images/card_border.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | Where
      .bubble_body
        h2.bubble_main_h
          | Where
        p.bubble_p low_p
          | The reception will be held under the beautiful trees at Scott and Carolyn Lindsey&apos;s house in Olympia, Washington.  This address will be provided with the RSVP confirmation.
        img(class='bubble_sub_img', src='#{baseDir}/images/bubble_5_sub.jpg', alt='__')

    div(id='bubble6', class='bubble #{bubble6class}')
      img(class='bubble_main_img', src='#{baseDir}/images/card.png#{currentVersion}', alt='__')
      img(class='bubble_border_img', src='#{baseDir}/images/card_border.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | RSVP
      .bubble_body
        h2.bubble_main_h
          | RSVP
        // The RSVP functionality has been removed since the wedding
        form(action='#{baseDir}/wedding', method='post')
          .bubble_p
            span#rsvp_by
              | (Please RSVP before June 25th!)
            br
            br
            | Will you be attending?
            label
              input(id='coming_yes_rb', type='radio', name='rsvp_coming_yes', value='yes')
              | Yes
            label
              input(id='coming_no_rb', type='radio', name='rsvp_coming_no', value='no')
              | No
            br
            | Your name:
            input(id='rsvp_name', type='text', name='rsvp_name', size='28')
            br
            span(id='rsvp_name_error', class='rsvp_error_msg')
            | Your email address:
            input(id='rsvp_email', type='text', name='rsvp_email', size='28')
            br
            span(id='rsvp_email_error', class='rsvp_error_msg')
            span#rsvp_coming
              | Number of people in your party (including you):
              input(id='rsvp_count', type='text', name='rsvp_count', size='2')
              br
              span(id='rsvp_count_error', class='rsvp_error_msg')
              | Please describe any dietary restrictions your party may have:
              br
              textarea(id='rsvp_diet_needs', name='rsvp_diet_needs', rows='2', cols='32')
              br
              span(id='rsvp_diet_needs_error', class='rsvp_error_msg')
            input(id='rsvp_submit', type='submit', value='RSVP')

    div(id='bubble7', class='bubble #{bubble7class}')
      img(class='bubble_main_img', src='#{baseDir}/images/card.png#{currentVersion}', alt='__')
      img(class='bubble_border_img', src='#{baseDir}/images/card_border.png#{currentVersion}', alt='__')
      h3.bubble_sub_h
        | Registry
      .bubble_body
        h2.bubble_main_h
          | Registry
        p.bubble_p
          | Should you wish to buy a gift for the bride and groom, there are two registry options. The traditional registry is at 
          a(href='http://www.surlatable.com/', target='_blank')
            | Sur La Table
          | , which can be accessed online or in person at one of the store locations.  NOTE: the registry service we used with Sur le table is broken.  WE HAVE RECEIVED EVERYTHING ON THIS REGISTRY ALREADY!  Even though Sur le table may tell you that we did not, they are lying.
          br
          | An alternate option is the 
          a(href='https://www.nrdcgreengifts.org/shopping-for-green-gifts-is-as-easy-as-1-2-3', target='_blank')
            | NRDC&apos;s Green Gift
          |  program, where you can donate to a good cause of your choice in honor of the bride and groom.

  script
    | #{analyticsScript}
  script(src='#{baseDir}/scripts/jquery-1.8.2.min.js')
  script(src='#{baseDir}/scripts/jquery.path.js')
  script(src='#{baseDir}/scripts/jquery.easing.1.3.js')

  script(src='#{baseDir}/scripts/bubbles.js#{currentVersion}')
  script(src='#{baseDir}/scripts/timer.js#{currentVersion}')
  script(src='#{baseDir}/scripts/rsvp.js#{currentVersion}')
  script(src='#{baseDir}/scripts/wedding.js#{currentVersion}')
